:root {
  --primary_color: #23a229;
  --primary_color: #3f7342;
  --secondary_color: #a26c00;
  --secondary_color: #e6aa3b;
  --tertiary_color: #cc9531;
  --black_color: #000;
  --secondary_black_color: rgb(92, 92, 92);
  --tertiary_black_color: rgb(146, 146, 146);
  --white_color: #fff;
  --three_mili: all 0.3s ease;
  --primary_font_family: "Poppins", sans-serif;
  --secondary_font_family: "Bricolage Grotesque", sans-serif;

  scroll-behavior: smooth;
}

.hero_section {
  height: 40vh;
  min-height: 400px;

  position: relative;
  background: url(../../assets/products/home.jpg) bottom/cover no-repeat;
  background-attachment: fixed;
}
.hero_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero_dis {
  width: fit-content;
  background: none;
  text-align: center;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero_dis_navigate a,
.hero_dis_navigate {
  font-size: calc(var(--body_text) * 1.2);
  color: var(--white_color);
  color: #e3e0e0;
}
.hero_dis h4 {
  margin-bottom: 0.5em;
  font-size: var(--primary_header);
  color: var(--white_color);
}
.discover_more_btn {
  cursor: pointer;
}

/* !CONTACT US BANNER */
.contact_us_banner {
  background-color: var(--primary_color);
  min-height: 300px;
  margin-bottom: 4em;
  justify-content: space-around;
}
.contact_us_banner_btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  color: var(--black_color);
  background-color: var(--secondary_color);
  font-size: var(--body_text);
  display: block;
  width: fit-content;
  padding: 0.9em 1.3em;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.contact_us_banner_btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0px;
  background-color: var(--black_color);
  width: 100%;
  height: 100%;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.contact_us_banner_btn:hover::before {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.contact_us_banner_btn:hover {
  color: var(--white_color);
}
.left_banner_container h4 {
  color: var(--white_color);
  font-size: var(--secondary_header);
}

/* !PRODUCT VIDEO */
.video_section {
  margin-top: 2em;
  margin-bottom: 15em;
  display: block;
}
.video_main_container {
  margin-top: 0;
}
.completed_work_container {
  height: 420px;
  top: 70%;
  align-items: flex-start;
  background-color: transparent;
}
.completed_work_card {
  width: min(350px, 100%);
  height: 380px;
  overflow: hidden;
  background-color: white;
  padding-top: 1em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.completed_work_card h5 {
  color: var(--black_color);
  font-weight: normal;
  font-size: var(--tertiary_header);
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.completed_work_card:hover {
  background-color: var(--primary_color);
}
.completed_work_card:hover h5 {
  color: var(--white_color);
}

.completed_work_figure img {
  position: relative;
  display: block;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.completed_work_figure {
  position: relative;
  height: 90%;
  margin-top: 1em;
  overflow: hidden;
}
.completed_work_figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.completed_work_card:hover figure img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.completed_work_card:hover .completed_work_figure::before {
  background-color: rgba(0, 0, 0, 0.6);
}
.block_span {
  display: block;
}
.left_banner_container h4 {
  color: var(--white_color);
  font-size: var(--secondary_header);
}

/* !PRODUCT DETAILS PAGE */
#product_detail_section {
  align-items: flex-start;
  gap: 2em;
  justify-content: space-around;
  margin-top: 4em;
}
.product_detail_left_container figure {
  width: 500px;
  height: 600px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.product_detail_right_container {
  width: min(800px, 100%);
}
.product_detail_right_container h4 {
  color: var(--black_color);
  font-size: var(--tertiary_header);
}
.product_detail_right_dis {
  margin-top: 1em;
}
.product_detail_right_dis p {
  font-size: var(--body_text);
  text-indent: 2em;
  line-height: 1.4em;
  margin: 2em 0;
}
.product_contact_us_form_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  z-index: 2;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: opacity 0.4s ease;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
}
.product_contact_us_form_container.active {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.close_btn_container {
  padding-bottom: 0.5em;
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary_black_color);
}
.close_btn_container h4 {
  font-size: var(--tertiary_header);
  color: var(--primary_color);
}

.close_btn_container span {
  padding: 0.6em;
  cursor: pointer;
}
.close_btn_container i {
  font-size: var(--tertiary_header);
}
.product_contact_us_form {
  width: min(600px, 95%);
  background-color: white;
  padding: 1em;
  padding-top: 0.5em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.product_form_input_container {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  margin: 1em 0;
}
.product_form_input_container label {
  font-size: var(--body_text);
}
.product_form_input_container input,
#dis {
  width: 100%;
  font-size: var(--body_text);
  padding: 0.6em 0.4em;
  border: 1px solid var(--secondary_black_color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#dis {
  resize: none;
}

/* PRODUCT MORE DETAILS SECTION */
#more_product_detail_section {
  width: 90%;
  margin: 0 auto;
}
.product_detail_nav {
  gap: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--tertiary_black_color);
}
.product_detail_nav_btn {
  font-size: var(--tertiary_header);
  position: relative;
  background-color: transparent;
  transition: var(--three_mili);
  -webkit-transition: var(--three_mili);
  -moz-transition: var(--three_mili);
  -ms-transition: var(--three_mili);
  -o-transition: var(--three_mili);
}
.product_detail_nav_btn:hover {
  color: var(--secondary_color);
}
.product_detail_nav_btn.active {
  color: var(--secondary_color);
}
.product_detail_nav_btn.active::before {
  content: "";
  position: absolute;
  bottom: -0.7em;
  width: 100%;
  height: 2px;
  background-color: var(--secondary_black_color);
}
.detail_container {
  display: none;
}
.detail_container.show {
  display: block;
}
.more_product_detail_container {
  margin-top: 3em;
  background-color: #e6aa3b;
  /* border: 1px solid var(--tertiary_black_color); */
}
.general_detail_container {
  border: none !important;
}
.general_detail_container p {
  font-size: var(--body_text);
  line-height: 1.5em;
  border: none !important;

  background-color: var(--white_color);
}
.product_detail_card:not(:first-child) {
  border-top: 1px solid var(--tertiary_black_color);
}
.product_detail_left_card_container {
  font-size: var(--tertiary_header);
  font-weight: normal;
  min-width: 150px;
  padding: 0.5em;
}
.product_detail_right_card_container {
  padding: 0.5em;
  width: 100%;
  height: 100%;
  min-height: 50px;
  border-left: 1px solid var(--tertiary_black_color);
  background-color: var(--white_color);
}
/* !RESPONSIVE STYLES */

@media screen and (max-width: 430px) {
  .hero_dis {
    width: 100vw;
  }
}

@media screen and (max-width: 650px) {
  .contact_us_banner {
    flex-direction: column;
    text-align: center;
  }
  #more_product_detail_section {
    width: 100%;
  }
  .product_detail_left_card_container {
    min-width: 120px;
  }
}

@media screen and (max-width: 1000px) {
  .block_span {
    display: inline;
  }
  #product_detail_section {
    flex-direction: column;
    margin-top: 0;
  }
  .product_detail_left_container figure {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 650px) {
  .contact_us_banner {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .our_product_card {
    height: 400px;
    border: none;
  }
  .our_product_card figure {
    height: 70%;
  }
}
@media screen and (max-width: 430px) {
  .hero_dis {
    width: 100vw;
  }
}
